/** Timeline Visualization
 * Vertical timeline display using definition lists
 */

/* Container */
.markdown-section dl.timeline {
    --timeline-max-width: 40rem;
    --timeline-max-image-width: 12rem;

    --timeline-border-width: 3px;

    --timeline-line-color: var(--theme-color);
    --timeline-marker-color: var(--theme-color);
    --timeline-marker-bg-color: var(--theme-color-2);
    --timeline-marker-hi-color: var(--theme-color-4);

    --timeline-date-fg-color: var(--secondary-color-5);
    --timeline-title-fg-color: var(--theme-color-5);

    max-width: var(--timeline-max-width);
    margin: var(--margin-block) var(--gap);

    /* Date and title row */

    dt {
        display: flex;
        gap: var(--gap-med);
        align-items: center;
        height: 1.5em;

        .marker {
            display: block;
            width: 1.5em;
            height: 1.5em;
            flex-shrink: 0;
            border: var(--timeline-border-width) solid var(--timeline-marker-color);
            background-color: var(--timeline-marker-bg-color);
            border-radius: 3em;
            transition: background-color 250ms, border-color 250ms;
        }

        .date {
            display: block;
            font-size: 1.25em;
            color: var(--timeline-date-fg-color);
            white-space: nowrap;
        }

        .title {
            font-size: 1.1em;
            line-height: 1;
            color: var(--timeline-title-fg-color);
        }
    }

    /* Timeline content */

    dd {
        width: 100%;
        margin: 0 0 0 calc((1.5em - var(--timeline-border-width)) / 2);
        padding: 0.5em 0 2em 2em;

        &:empty {
            padding-block: 0.8em;
        }

        &:last-child {
            padding-bottom: 0;
        }

        &:last-child:empty {
            padding-top: 0;
        }

        &:not(:last-of-type) {
            border-left: var(--timeline-border-width) solid var(--timeline-line-color);
        }

        :first-child {
            margin-top: 0;
        }

        :last-child {
            margin-bottom: 0;
        }

        &:has(svg, img, figure) {
            display: flex;
            flex-wrap: wrap;
            gap: var(--gap);
            align-items: flex-start;

            > * {
                margin-block: 0;
            }

            > :first-child {
                flex: 1 1 10rem;
            }

            :is(svg, img, figure) {
                width: 100%;
                max-width: var(--timeline-max-image-width);
                margin-inline: 0;
            }
        }
    }


    /* HOVER EFFECTS */

    dt,
    dd {
        transition: filter 250ms;
    }

    dt:hover,
    dd:hover,
    dt:hover+dd,
    dt:has(+ dd:hover) {
        filter: brightness(1.1);
    }

    dt:hover .marker,
    dt:has(+ dd:hover) .marker {
        background-color: var(--timeline-marker-hi-color);
        /* border-color: var(--timeline-marker-hi-color); */
    }
}